
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*  shared styles */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
} 
.DARK-2{
    color: #474747;
}
 .btn-p{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: 5px;
 }
 section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

 }
 .section-description{
    font-size: 18px;
    color: #757575;

 }
 .header{
    background-image: url ('./images/developer.png')
 }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right:  50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;

}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 500px;
}
main section{
    margin: 50px;
}
/* main styles */
.main{
    max-width: 140px;
    margin: 0 auto;
}
/* about styles */
.About{
    border-radius: 2px;
    padding: 30px 50px;
    text-align: center;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
   justify-content: space-around;
}
/* What I Do styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
/* resume section styles */
.resume-container{
   display: flex;
   gap: 50px;
}
.experience-dscription,experience-subtitle{
color: #757575;
}
.Download-CV{
    margin-top: 60px;
}
